body{
  color: darkblue;
  background-color: ivory;
  margin: 10px 50px 10px 50px;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-family: 'Oswald', sans-serif;
}

h2 {
  font-family: 'Oswald', sans-serif;
}

.columns {
  float: left;
  width: 300px;
  padding: 0px 40px 0px 40px;
}

.toccolumns {
  float: none;
  padding: 0px 100px 0px 100px;
}
